body {
    font-family: "Roboto", sans-serif;;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 0px 300px;
    
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo a {
    text-decoration: none;
    font-size: 24px;
    color: #F9FAF8;
}

.links {
    display: flex;
    justify-content: space-around;
}

.links ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 0px;
    
}

.links a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    background-color: #1F2937;
    padding: 50px 300px;
}

.hero-content {
    width: 500px;
}

.hero-title {
    width: 350px;
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin-bottom: 0;
}

.hero-text {
    width: 400px;
    font-size: 18px;
    color: #E5E7EB;
}

.hero-button {
    width: 100px;
    height: 30px;
    border-radius: 12%;
    background-color: #3882F6;
    color: #E5E7EB;
}

.hero-image {
    width: 500px;
    height: 250px;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info {
    padding: 40px 0;
}

.info-title {
    text-align: center;
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
}

.info-container {
    display: flex;
    justify-content: center;
}

.info-frame {
    width: 100px;
    height: 100px;
    border: 4px solid #3882F6;
    border-radius: 10%;
    margin: 40px 50px 5px 50px;
}

.info-text {
    text-align: center;
    margin: 0px 50px 0px 50px;
}

.item {
    max-width: 200px;
}

.quote-section {
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;

}

.quote {
    font-weight: lighter;
    max-width: 800px;
    margin: 0;
}

.quote-author {
    font-weight: bold;
    margin: 0;
    text-align: right;
    width: 800px;
}

.signup {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-box {
    background-color: #3882F6;
    height: 120px;
    width: 800px;
    display: flex;
    justify-content: space-evenly;
}

.signup-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color:#F9FAF8;
}

.signup-title {
    font-weight: bold;
}

.signup-button-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-button {
    border-color: #F9FAF8;
    background-color: #3882F6;
    color:#F9FAF8;
    width: 100px;
    height: 30px;
    border-radius: 12%;
}

.signup p {
    margin: 0px;
}

footer {
    background-color: #1F2937;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
}